.cadre {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    background-color: rgb(0, 204, 68);
    text-align: center;
}

.cadre-int{
    position: absolute;
    top: 12px;
    right: 12px;
    bottom: 12px;
    left: 12px;
    background: rgba(0, 0, 0, 0.1);
    border-width: 2px;
    border-style: dashed;
    border-color: rgba(0, 0, 0, 0.15);
    border-image: initial;
    cursor: pointer; /* "hand" cursor */
}

.image-60 {
    width: 60px; 
    height: 60px;
    opacity: 0.6;
}

.int {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 84px;
    flex: 1 1 auto;
    padding-bottom: 12px;
    color: white;
}

